.emptyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px;
  border-top: 1px solid var(--gray-400);
  text-align: center;

}

.emptyContainer strong {
  font-size: 1.25rem;
  color: var(--gray-300);
  line-height: 1.4;
}

.emptyContainer p {
  font-size: 1.25rem;
  color: var(--gray-300);
  line-height: 1.4;
}

.emptyContainer img {
  margin: 30px 0 16px 0;
}

@media (max-width: 366px) {
  .emptyContainer p {
    margin-top: 8px;
  }
  .emptyContainer img {
    margin: 0px 0 12px 0;
  }
}
