.header {
  height: 200px;
  background-color: var(--gray-700);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (max-width: 413px) {
  .header {
    height: 150px;
  }
}
