.showTaskContainer {
  width: 100%;
  min-height: 72px;
  margin: auto;
}

.showStatus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px;
  width: 100%;
}

.numberOfTasksCreated {
  font-weight: bold;
  color: var(--blue);
}

.numberOfTasksCreated span {
  border-radius: 16px;
  padding: 2px 14px;
  background-color: var(--gray-500);
  font-weight: bold;
  color: var(--gray-100);
  margin-left: 8px;
}

.numberOfTasksConcluded {
  font-weight: bold;
  color: var(--purple-dark);
}

.numberOfTasksConcluded span {
  border-radius: 16px;
  padding: 2px 14px;
  background-color: var(--gray-500);
  font-weight: bold;
  color: var(--gray-100);
  margin-left: 8px;
}

@media (max-width: 720px) {
  .showTaskContainer {
    width: 80vw;
  }
}

@media (max-width: 413px) {
  .numberOfTasksCreated {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .numberOfTasksConcluded {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .numberOfTasksConcluded span {
    margin-top: 8px;
  }
  .numberOfTasksCreated span {
    margin-top: 8px;
  }
  .showStatus {
    padding: 16px 0px;
  }
}
